:root {
  --primary-color: #34CB79;
  --secondary-color: #2FB86E;
  --title-color: #322153;
  --background-color: #F0F0F5;
  --items-grid-color: #F5F5F5;
  --tertiary-color: #6C6C80
}

* {
  margin: 0;
  padding: 0;
  /* limite da largura é a borda */
  box-sizing: border-box
}

html {
  font-family: Roboto, sans-serif
}

body {
  background: var(--background-color);
  -webkit-font-smoothing: antialiased
}

a {
  text-decoration: none

}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu, sans-serif
}